@model ASP.NET_TEFA.Models.TrsBooking

@{
    ViewData["Title"] = "Create";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">

<div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="card-body">
                <h6 class="text-center"><b>BOOKING SERVIS</b></h6>
                <hr />

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @TempData["ErrorMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <!-- Loading Spinner -->
                <div id="loadingSpinner" class="text-primary">
                    Loading...
                </div>
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="OrderDate" class="form-label">Tanggal Booking</label>
                        <input asp-for="OrderDate" class="form-control" type="date" required>
                        <div id="orderDateHelp" class="form-text">Tanggal yang valid minimum H+1</div>
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdVehicle" class="form-label">Kendaraan</label>
                        <select asp-for="IdVehicle" class="form-control" asp-items="ViewBag.IdVehicle" required></select>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Odometer" class="form-label">Odometer (km)</label>
                        <input asp-for="Odometer" class="form-control" required>
                        <span asp-validation-for="Odometer" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Complaint" class="form-label">Keluhan</label>
                        <textarea class="form-control" asp-for="Complaint" aria-describedby="addressHelp" required></textarea>
                        <span asp-validation-for="Complaint" class="text-danger"></span>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" name="checklist" class="form-check-input" id="AgreeToTerms" required>
                        <label class="form-check-label" for="AgreeToTerms">Spare part disiapkan atau dibeli oleh customer</label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm w-100 py-2 fs-4 rounded-2 mt-3">Booking</button> 
                    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-dark btn-sm w-100 py-2 fs-4 rounded-2 mt-3 mb-3">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

