@model ASP.NET_TEFA.Models.MsUser

@{
    ViewData["Title"] = "Create Account";
    Layout = "_LayoutUser";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="FullName" class="control-label">Full Name</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Position" class="control-label">Position</label>
        <select asp-for="Position" class="form-control" id="Position">
            <option value="HEAD MECHANIC">HEAD MECHANIC</option>
        </select>
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Nim" class="control-label">NIM</label>
        <input asp-for="Nim" class="form-control" />
        <span asp-validation-for="Nim" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Username" class="control-label">Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="control-label">Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-sm w-100 py-2 fs-4 rounded-2">Save</button>
    <div class="mt-3">
        <a href="@Url.Action("Index", "User")" class="btn  btn-outline-dark btn-sm w-100 py-2 fs-4 mb-4 rounded-2">Back</a>
    </div>
</form>
