@model ASP.NET_TEFA.Models.MsCustomer

@{
    Layout = "_Layout";
}
<!--  Body Wrapper -->
<div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="card-body">
                <span class="text-nowrap logo-img text-center d-block py-4 w-100">
                    <img src="~/Content/assets/images/logos/logo.png" width="60" alt="TEFA Politeknik Astra">
                </span>
                <h5 class="text-center"><b>TEACHING FACTORY<br />MESIN OTOMOTIF</b></h5>
                <p class="text-center">
                    Proses praktik perbaikan kendaraan Mahasiswa Mesin Otomotif
                </p>
                <form asp-action="Register" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">Contoh: email@gmail.com</div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label">Nama Lengkap Anda</label>
                        <input type="text" class="form-control" asp-for="Name" aria-describedby="fullNameHelp" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label">No Telepon/Whatsapp</label>
                        <input type="number" class="form-control" asp-for="Phone" aria-describedby="phoneNumberHelp" required>
                        <div id="phoneNumberHelp" class="form-text">Contoh: 08123456789</div>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Address" class="form-label">Alamat Lengkap</label>
                        <textarea class="form-control" asp-for="Address" aria-describedby="addressHelp" required></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm w-100 py-2 fs-4 mb-4 rounded-2" id="registerButton">Daftar</button>
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="fs-4 mb-0 fw-bold">Sudah memiliki akun?</p>
                        <a class="text-primary fw-bold ms-2" asp-action="Login">Login disini.</a>
                    </div>
                </form>
            </div>
            <p class="text-center mt-5">
                <b><span id="clock">12:50 - 31/10/2023</span></b>
            </p>
        </div>
    </div>
</div>

<script>
    function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        var formattedTime = (hours < 10 ? "0" : "") + hours + ":" + (minutes < 10 ? "0" : "") + minutes + " - 31/10/2023";

        document.getElementById("clock").textContent = formattedTime;
    }

    setInterval(updateClock, 1000); // Update setiap 1 detik
</script>