@{
    Layout = "_Layout";
}
<!--  Body Wrapper -->
<div class="position-relative overflow-hidden min-vh-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
            <div class="card-body">
                <span class="text-nowrap logo-img text-center d-block py-4 w-100">
                    <img src="~/Content/assets/images/logos/logo.png" width="60" alt="TEFA Politeknik Astra">
                </span>
                <h5 class="text-center"><b>TEACHING FACTORY<br />MESIN OTOMOTIF</b></h5>
                <p class="text-center">
                    Proses praktik perbaikan kendaraan Mahasiswa Mesin Otomotif
                </p>
                <form>
                    <div class="mb-3">
                        <label for="otp" class="form-label">OTP</label>
                        <input type="number" class="form-control" id="otp" aria-describedby="otpHelp" required>
                        <div id="otpHelp" class="form-text">OTP sudah dikirim ke email: email@gmail.com</div>
                    </div>
                    <a asp-controller="Authentication" asp-action="SendEmailToUser" class="btn btn-primary btn-sm w-100 py-2 fs-4 mb-4 rounded-2">Verifikasi</a>
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="fs-4 mb-0 fw-bold">Tidak menerima OTP?</p>
                        <a class="text-primary fw-bold ms-2" asp-action="Register">Kirim ulang OTP.</a>
                    </div>
                </form>
            </div>
            <p class="text-center mt-5">
                <b><span id="clock">12:50 - 31/10/2023</span></b>
            </p>
        </div>
    </div>
</div>

<script>
    function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        var formattedTime = (hours < 10 ? "0" : "") + hours + ":" + (minutes < 10 ? "0" : "") + minutes + " - 31/10/2023";

        document.getElementById("clock").textContent = formattedTime;
    }

    setInterval(updateClock, 1000); // Update setiap 1 detik
</script>