@model ASP.NET_TEFA.Models.TrsBooking

@{
    ViewData["Title"] = "PLANNING";
    Layout = "_LayoutUser";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="FormPlan" method="post">
    <input type="hidden" asp-for="IdBooking" />
    <div class="mb-3">
        <label asp-for="RepairDescription">Repair Description: </label>
        <textarea asp-for="RepairDescription" class="form-control"></textarea>
        <span asp-validation-for="RepairDescription" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ReplacementPart">Replacement Part: </label>
        <textarea asp-for="ReplacementPart" class="form-control"></textarea>
        <span asp-validation-for="ReplacementPart" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price">Price: </label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="price-addon">Rp.</span>
            </div>
            <input asp-for="Price" class="form-control" aria-describedby="price-addon">
        </div>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="WorkingCost">Service Fee: </label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="price-addon">Rp.</span>
            </div>
            <input asp-for="WorkingCost" class="form-control" aria-describedby="price-addon">
        </div>
        <span asp-validation-for="WorkingCost" class="text-danger"></span>
    </div>
    
    <div class="text-end">
        @if (!(Model.RepairStatus == "PERENCANAAN" || Model.RepairStatus == "KEPUTUSAN"))
        {
            <a asp-controller="Reparation" asp-action="Index" asp-route-IdBooking="@Model.IdBooking" class="btn btn-outline-primary mb-4 ms-auto">
                Back
            </a>
        }
        else
        {
            <button type="submit" class="btn btn-primary mb-4 ms-auto">
                Continue to Decision!
            </button>
        }
    </div>
</form>