@model ASP.NET_TEFA.Models.TrsBooking

@{
    ViewData["Title"] = "EVALUASI";
    Layout = "_LayoutUser";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="FormEvaluation" method="post">
    <input type="hidden" asp-for="IdBooking" />
    <div class="mb-3">
        <label>Evaluasi: </label>
        <textarea asp-for="Evaluation" class="form-control"></textarea>
        <span asp-validation-for="Evaluation" class="text-danger"></span>
    </div>

    <div class="text-end">
        @if (!(Model.RepairStatus == "EVALUASI"))
        {
            <a asp-controller="Reparation" asp-action="Index" asp-route-IdBooking="@Model.IdBooking" class="btn btn-outline-primary mb-4 ms-auto">
                Kembali
            </a>
        }
        else
        {
            <button type="submit" class="btn btn-primary mb-4 ms-auto">
                Selesai!
            </button>
        }
    </div>
</form>
