@model ASP.NET_TEFA.Models.TrsBooking

@{
    ViewData["Title"] = "PERENCANAAN";
    Layout = "_LayoutUser";
}


<form asp-action="Plan" method="post">
    <div>
        <input asp-for="IdBooking" class="form-control" hidden value="@ViewBag.IdBooking" />
        
    </div>
    <div>
        <label>Perbaikan : </label>
        <input asp-for="RepairDescription" class="form-control" />
        <span asp-validation-for="RepairDescription" class="text-danger"></span>
    </div>
    <div>
        <label>Ganti Part : </label>
        <input asp-for="ReplacementPart" class="form-control" />
        <span asp-validation-for="ReplacementPart" class="text-danger"></span>
    </div>
   

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>